body {
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

#image-form {
  text-align: center;
  margin: 20px auto;
}

#output-container {
  text-align: center;
  margin: auto;
  width: 30vw;
  height: 50vh;
}

#output-image {
  max-width: 100%;
  height: 65vh;

}

#input-container {
  text-align: center;
  margin: auto;
  width: 30vw;
  height: 50vh;

}

#input-image {
  max-width: 100%;
  height: 65vh;

}

#big-image-container {
  display: flex;
  flex-direction: row;
}

/* .frist_uploader {
  position: absolute;
  left: 580px;
  top: 50px;
} */

button {
  font-family: sans-serif;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px;
  background-color: #080a49f1;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1rem;
  width: 150px;
}